{
	"bracketSpacing": true,
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"semi": true,
	"quoteProps": "consistent",
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto"
}
